@font-face {
    font-family: 'NorseFont';
    src: url("./stuff/Norse-Bold.otf");
  }

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    margin:0;
    height:100vh;
    display:flex;
    flex-direction: row;
}

.lefthero{
    height: 100%;
    width: 40%;
    position:relative;
    overflow: hidden; /* makes the photo stretch to the bottom */
}

.leaves{
    height:100%;
    width: 100%;
    background-size: cover;
}

.halie{
    position: absolute;
    bottom:5px;
    right:5px;
    height: 40px;
    width: 40px;
    border: 6px;
}

.haliediv{
    position: absolute;
    bottom:0;
    right:0;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    box-shadow: 0 20px 35px rgba(0,0,0,0.3);
    overflow: hidden;
}

.haliediv:before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    content: "";
    height: 150%;
    width: 150%;
    position: absolute;
    background: conic-gradient(
        #fd004c,
        #fe9000,
        #fff020,
        #3edf4b,
        #3363ff,
        #b102b7,
        #fd004c
    );
    left: -25%;
    top: -25%;
    animation: spin 1.5s infinite linear;
}
@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}
.haliediv:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: absolute;
    background-color: #1c1b29;
    height: 93%;
    width: 93%;
    top: 3.5%;
    left: 3.5%;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 6px;
    display: grid;
    place-items: center;

}

.banner{
    display:flex;
    flex-direction: row;
    position:absolute;
    justify-content: center;
    align-items: center;
    top: 250px;
    width: 100%;
    background: rgba(22, 22, 22, 0.5);
    height:150px;
    
}

.banner > img{
    height: 150px;
    width: auto;
}

.odin{
    color:white;
    font-family: 'NorseFont';
    font-weight:700;
    font-size: 75px;
}

.link{
    position: absolute;
    display:flex;
    color:white;
    bottom: 15px;
    width:100%;
    align-items: center;
    justify-content: center;
}

a{
    color:white;
    padding: 0px 5px;
    word-wrap: normal;
    display: inline-block;
}
.rightcontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Roboto, sans-serif;
    background-color: #F5F5F5;
    box-shadow: 10px 10px;

}

.para{
    position:relative;
    width: 50%;
    font-size: large;
    font-weight:550;
    margin: 20px;
    bottom: 50px;
    text-shadow: 1px 1px 2px #E5E7EB;
}

.inputform{
    background-color: white;
    position: relative;
    height: auto;
    
}

.inputform > div{
    margin: 20px;
    left: 20px;
    font-size: large;
    font-weight:550;
    text-shadow: 1px 1px 2px #E5E7EB;
}

form{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 20px;
    column-gap: 15px;
}

label{
    font-size:0.7em ;
    font-weight:bold;
    line-height: 1.5;
    text-shadow: 1px 1px 2px #E5E7EB;
}

.inputform input{
    font-size: medium;
    width: 250px;
    height: 25px;
    box-shadow: 1px 1px 2px #E5E7EB;
}



.bottom > form > input{
    color: white;
    font-size: medium;
    background-color:#596D48 ;
    border-radius: 8px;
    border:none;
    padding: 15px 50px; 
    margin-bottom: 15px;
    box-shadow: 1px 1px 2px #8b8d91;
}

.bottom > form > input:hover{
    background-color:#475837;
    cursor:pointer;
    
}

.bottom > div> a{
    color: #596D48;
    font-weight: bold;
}

.bottom > div{
    margin-left: 20px;
}